.container-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 25vh;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }