.CalendarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.Calendar {
  max-width: 1000px;
  margin: 0 auto;
}

.DashboardButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.DashboardButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #26289b;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

.DashboardButtonContainer.show {
  opacity: 1;
}